iEntourage.xcodeproj/project.xcworkspace/xcuserdata/kingkeon.xcuserdatad/WorkspaceSettings.xcsettings
iEntourage.xcodeproj/project.xcworkspace/xcshareddata/iEntourage.xccheckout
iEntourage.xcodeproj/xcuserdata/kingkeon.xcuserdatad/xcschemes/iEntourage.xcscheme
iEntourage.xcodeproj/xcuserdata/kingkeon.xcuserdatad/xcschemes/xcschememanagement.plist